@model IEnumerable<Models.PersonaBase>
@using Models;

@{
    ViewBag.Title = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Lista de Personas</h2>
<hr />

<div class="col-md-offset-2">
    <p>
        @Html.ActionLink("Agregar", "Agregar", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-primary" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Apellido
            </td>
            <td>
                @item.Documento
            </td>
            <td>
                @item.Trabajo
            </td>
            <td>
                @Html.ActionLink("Modificar", "Modificar", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { onclick = "return confirm('Estas seguro de eliminar esta persona?');" })
            </td>
        </tr>

    }
</table>
